// #login {
// width: 280px;
// }
.main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main .header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
	font-size: 1rem;
	font-weight: bold;
	color: #d2d2d2;
}

.main .content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#login form .ant-col>span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #b3b6b8;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}

#login form input[type="email"],
#login form input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #b3b6b8;
	padding: 0 16px;
	width: 230px;
}

#login form input::placeholder {
	color: rgb(189, 189, 189) !important;
	opacity: 1 !important;
}

#login form input[type="submit"],
#login form .loginBtn {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #1e75e7 !important;
	color: #eee !important;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	width: 280px;
	border: none;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
	height: 50px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login>p {
	text-align: center;
}

#login>p span {
	padding-left: 5px;
}

#login input:-webkit-autofill,
#login input:-webkit-autofill:hover,
#login input:-webkit-autofill:focus,
#login input:-webkit-autofill:active,
#login input:-internal-autofill-selected,
#login input:-internal-autofill-previewed {
	-webkit-transition-delay: 9999s;
	transition-delay: 9999s;
	color: #b3b6b8 !important;
	background-image: none !important;
	background-color: #3b4148 !important;
}

#login span.ant-input-affix-wrapper {
	padding: 0;
	border: none;
	background-color: transparent;
}

#login .ant-input-affix-wrapper>span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #b3b6b8;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login .ant-input-prefix {
	margin-right: 0;
}

#login .ant-input-affix-wrapper>input {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #b3b6b8;
	margin-bottom: 1em;
	padding: 0 16px !important;
	width: 230px;
	font-size: 14px;
}

#login .ant-row.ant-form-item {
	margin-bottom: 0;
}

#login .ant-input-affix-wrapper>input.ant-input {
	margin-bottom: 0;
}

#login .ant-modal-mask {
	background-color: unset;
}

#login .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
#login .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
	background-color: transparent;
}

#login .ant-form-item-explain-error {
	font-size: .7em;
}

#login .ant-input {
	margin-bottom: 0;
}

#login .ant-form-item-with-help .ant-form-item-explain {
	margin-top: 3px;
}

#login .ant-form-item-label > label {
	color:#c5c5c5;
	font-size: .8em;
}
#login .ant-row {
	display: block;
}